[Desktop Entry]
Encoding=UTF-8
Exec=/usr/local/bin/viait-setup
Name=Setup Viait Desktop
Comment=Update Desktop Theme
Terminal=false
OnlyShowIn=GNOME;LXDE;Unity;MATE;
Type=Application
StartupNotify=false
X-KDE-autostart-after=panel
